#searchIcon {
  position: absolute;
  right: 0px;
  z-index: 3;
  color: grey;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.searchResults {
  background-color: white;
  width: 55%;
  position: absolute;
  top: 88px;
  left: 22%;
}

.hoverButton {
  color: grey !important;
  background-color: rgba(255, 255, 255, 0) !important;
  text-align: left !important;
  position: relative;
  left: -13px;
  width: 115%;
  padding: 2px 15px !important;
}

.hoverButton:hover {
  color: black !important;
  background-color: orange !important;
}

.productCard:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.479);
  z-index: 3;
}

.cardDecoration {
  text-decoration: none !important;
}

.productName {
  color: grey !important;
}
